@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Playfair+Display:wght@500&display=swap");

body {
  background-color: #29283f;
  /* color: #b9bbbe; */
  color: rgba(255, 255, 255, 0.8);
  margin: 0 auto;
  max-width: 50em;
  font-family: "Noto Sans KR", "Helvetica", sans-serif;

  line-height: 1.5;
  padding: 2em 1em;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

ul {
  display: flex;
  flex-direction: column;
}

ul a {
  color: #b9bbbe;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
}

h1.name {
  font-size: 2rem;
}

.post {
  padding: 1rem 0rem;
}

.post-preview {
  display: flex;
  flex-direction: column;
}

.post-preview-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.github {
  height: 2rem;
  width: 2rem;
}
