@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Playfair+Display:wght@500&display=swap");

body {
  /* background-color: #29283f; */
  background-color: #292a2b;
  /* color: #b9bbbe; */
  color: #e6e6e6;
  margin: 0 auto;
  max-width: 50em;
  font-family: "Noto Sans KR", "Helvetica", sans-serif;

  line-height: 1.5;
  padding: 2em 1em;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

footer {
  margin: 2rem 0rem;
}

ul {
  display: flex;
  flex-direction: column;
  padding: 0 0;
}

ul a {
  font-weight: 700;
}

a {
  text-decoration: none;
  color: #b9bbbe;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
}

h1.name {
  font-size: 2rem;
  color: #72bfff;
}

span {
  font-size: 14px;
  color: #fecd95;
}

.top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 6px;
  background: #fe99c1;
  z-index: 10;
}

.bio {
  margin: 2rem 0rem;
}

.post {
  padding: 1rem 0rem;
}

.post-preview {
  display: flex;
  flex-direction: column;
  margin: 1rem 0rem;
}

.post-preview-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.github {
  height: 1.5rem;
  width: 1.5rem;
}
